.my-row {
  width: 100%;
  display: flex;  
}
.my-box {
    width: 50%;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
}
.my-font{
    font-size:32px;
    color: blue;
}